.container {
    /* padding: 50px; */
    margin: 50px;
}

.button {
    margin-top: 20px;
    margin-right: 10px;
}

.row {
    display: inline-block;
}

.vegetarian-field {
    width: 50%;
    float: left;
    padding-top: 25px;
}

.date-field {
    width: 50%;
    float: right;
}