table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    width: 100%;
    padding: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  /* mat-divider {
    margin-top: 2px;
    margin-bottom: 2px;
  } */

  .button-expand {
    margin-top: 20px;
    margin-right: 10px;
}
.container {
  /* padding: 50px; */
  margin: 30px;
}
.item-size{
  font-size: 0.98em ;
}
.space {
    margin: 20px;
    width: 45%;
    float: left;
}
.image-size {
    max-width: 500px;
}
.description {
    width: 50%;
    float: right;
}

mat-form-field {
  max-width: 90%;
  margin-right: 20px;
}
