.container {
    /* padding: 50px; */
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 10%;
    padding: 20px;
}
.outer-container {
    background-image: url("https://www.iss.nus.edu.sg/images/default-source/default-album/our-story.jpg?sfvrsn=c558a35f_0");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.1; */
    position: relative;

}
.small {
    font-size: smaller;
}